@import url(http://fonts.googleapis.com/css?family=Great+Vibes);
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  background-color: #FCF5E1;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 3px;
  font-weight: 400;
  font-family: 'Great Vibes', cursive;
}

p {
  line-height: 1.6;
  color: #000;
}

a {
  color: #333333;
}

hr {
  border-color: #999999;
  max-width: 400px;
}

.brand,
.address-bar {
  display: none;
}

#main {
  margin-top: 92px;
}

.navbar-default {
  background-color: #83004f;
}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
}

#navigation .navbar-brand {
  color: #c4c4c4;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  opacity: .6;

}

.navbar-nav {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.img-full {
  min-width: 100%;
}

.brand-name {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: normal;
}

.tagline-divider {
  margin: 15px auto 3px;
  border-color: #999999;
  max-width: 250px;
}

.box {
  margin-bottom: 20px;
  padding: 30px 15px;
  font-size: 1.25em;
}

.intro-text {
  letter-spacing: 1px;
  font-weight: 400;
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

.socialicon{
  font-size: 22px;
  color: #666;
}

.socialicon .fa-pinterest:hover {
  color: #C92424;
}

footer {
  background-color: #252528;
  color: #a6a6a7;
}

footer p {
  margin: 0;
  font-style: italic;
  color: #a6a6a7;
}

footer .footer-row{
  padding-bottom: 25px;
  padding-top: 25px;
}

footer .footer-icons{
  text-align: right;
}

footer .footer-icons i {
  padding: 0 10px;
}

footer .footer-copyright{
  margin-top: 5px;
}

footer .contact {
  color: #a6a6a7;
  text-align: left;
}

footer .contact ul{
  list-style: none; 
  padding-left: 0px;
}

footer .contact ul li i {
  float: left;
  line-height: inherit;
}

.fluid-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.fluid-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
        border: none;
}

.section_header {
  text-align: center;
}

.main-container {
  min-height: 500px;
  padding-bottom: 25px;
}

#gallery_container .photo {
  width: 185px;
  margin: 5px;
  float: left;
  position: relative;
}

#gallery_container .mask {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  box-shadow: 0px 1px 6px 2px #b1b1b1;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  height: 100%;
  padding: 0px 20px;
  width: 100%;
  background: rgba(131, 0, 79, 0.25);
  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

#gallery_container .photo img {
  border-radius: 5px;
  width: 100%;
}

#gallery_container .photo:hover .mask {
  display: block;
  opacity: 1;
  filter: alpha(opacity=100); 
}

#gallery_container .photo-search {
  top: 40%;
  left:47%;
  position: absolute;;
  color: white;
  font-size: 22px;
}

#navigation .navbar-header .navbar-toggle {
  border-color: #c4c4c4;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  opacity: .6;
}

#navigation a{
  color: #c4c4c4;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  opacity: .6;
}

.artist-sidebar {
  display: none;
}

.artist-main {
  list-style-type: none;
  height: 30px;
  margin-bottom: 40px;
  text-align: center;
}

.artist-main li{
  display: inline-block;
  font-size: 20px;
  margin: 0px 6px;
}

.artist-main li.separator {
  color: #c0c0c0;
  font-weight: lighter;
}

.artist-selector li>a:hover {
  color:rgba(131, 0, 79, 0.75);
  text-decoration: none;
}

.artist-selector li>a.active {
  color:rgba(131, 0, 79, 0.75);
}

@media screen and (min-width: 999px) {

  .brand {
    display: inherit;
    font-weight: 700;
    font-size: 5em;
    line-height: normal;
    text-align: center;
    margin: 0;
    padding: 30px 0 10px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .artist-main {
    display: none;
  }

  .artist-sidebar {
    display: block;
  }

  .top-divider {
    margin-top: 0;
  }

  .img-left {
    float: left;
    margin-right: 25px;
  }

  .address-bar {
    display: inherit;
    text-align: center;
    margin: 0;
    padding: 0 0 40px;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .navbar {
    border-radius: 0;
  }

  .navbar-header {
    display: none;
  }

  .navbar {
    min-height: 0;
  }

  #navigation{
    background-color: #83004f;
    border: none;
  }

  .navbar .nav>li>a {
    padding: 35px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    opacity: .6;
  }

  .navbar-nav>li>a {
    line-height: normal;
  }

  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    font-size: 1.25em;
  }


}

@media screen and (min-width: 768px) {
  .navbar-header {
    display: none;
  }
  #navigation .navbar-nav {
    padding-left: 50px;
  }
  #navigation .navbar-nav a {
    color: #c4c4c4;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    opacity: .6;
  }
  .main-container {
    min-height: 1024px;
  }
}
